<!--
  templateType: "none"
  isAvailableForNewContent: false
-->

<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
<head>
    <meta charset="utf-8">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ standard_header_includes }}
    {% if content.language == "en" %}
        <link rel="alternate" hreflang="x-default" href="{{content.absolute_url}}" >
    {% else if content.translated_content %}
        <link rel="alternate" hreflang="x-default" href="{{content.translated_content.en.absolute_url}}" >
    {% endif %}
    {% if !content.featured_image %}{#<meta property="og:image" content="https://www.yourdomain.com/hubfs/yourimage.jpg" />#}{% endif %}
</head>
<body class="{{ builtin_body_classes }} {% if (content.widgets.opaque_navigation.body.value || opaque_navigation || content.widgets.nav_options.body.opaque_navigation) %} header-white {% else %} not-opaque {% endif %} {{ 'blog-home ' if template_meta.label is string_containing 'blog-index' }} {% if request.full_url is string_containing '/author/' %} author-listing {% endif %} {{bodyClasses}}">

    {% block header %}
    {% endblock header %}

    {% block body %}
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}    
    
    {{ standard_footer_includes }}
</body>
</html>